<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Paper</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="disableSaveBtn=!disableSaveBtn;isSubmitted=true;savePaper();">
  <div class="modal-body">
      
      <div class="form-group">        
        <mat-form-field class="full-width">
          <input matInput class="form-control" type="text" id="name" name="name" [(ngModel)]="paper.name" formControlName="name"/>
        </mat-form-field>
        <div *ngIf="isSubmitted && formControls.name.invalid" class="alert alert-danger">
          <div *ngIf="formControls.name.errors.required">
            Paper name is required.
          </div>
        </div>
      </div>  



      <div class="form-group">
        <mat-form-field class="full-width">
          <input matInput type="date" class="form-control" name="year" [(ngModel)]="created_date" formControlName="year" (change)="pickYear()" required/>
        </mat-form-field>
        <div *ngIf="isSubmitted && formControls.year.invalid" class="alert alert-danger">
          <div *ngIf="formControls.year.errors.required">
            Year is required.
          </div>
        </div>
        <mat-label class="ml-2">
            {{paper.year}}
        </mat-label>
      </div>
      
      <div class="form-group row">
        <div class="form-group col-md-6">
          <mat-form-field class="full-width">
            <select matNativeControl placeholder="Subject" class="form-control" name="subject" [(ngModel)]="paper.subject" formControlName="subject" required>
                <option class="py-2" *ngFor="let subject of subjectGroup" [value]="subject.id">{{subject.data.name}}</option>
            </select>
          </mat-form-field>
          <div *ngIf="isSubmitted && formControls.subject.invalid" class="alert alert-danger">
            <div *ngIf="formControls.subject.errors.required">
              Subject is required.
            </div>
          </div>
        </div>
        
        <div class="form-group col-md-6">
          <mat-form-field class="full-width">
            <select matNativeControl placeholder="Grade/ Level" class="form-control" name="grade_level" [(ngModel)]="paper.grade_level" formControlName="grade_level" required>
                <option class="pb-1" value="Grade_6">Grade 6</option>
                <option class="pb-1" value="Grade_7">Grade 7</option>
                <option class="pb-1" value="Grade_8">Grade 8</option>
                <option class="pb-1" value="Grade_9">Grade 9</option>
                <option class="pb-1" value="Ordinary_Level">Ordinary Level</option>
                <option class="pb-1" value="Advanced_Level">Advanced Level</option>
                <option class="pb-1" value="Other">Other</option>
            </select>
          </mat-form-field>
          <div *ngIf="isSubmitted && formControls.grade_level.invalid" class="alert alert-danger">
            <div *ngIf="formControls.grade_level.errors.required">
              Grade/ Level is required.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="No. of Questions" class="form-control" type="number" name="no_of_questions" [(ngModel)]="paper.no_of_questions" formControlName="no_of_questions" required/>
          </mat-form-field>
          <div *ngIf="isSubmitted && formControls.no_of_questions.invalid" class="alert alert-danger">
            <div *ngIf="formControls.no_of_questions.errors.required">
              No. of questions is required.
            </div>
          </div>
        </div>  

        <div class="form-group col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="Allocating Time" class="form-control" type="number" name="time" [(ngModel)]="paper.time" formControlName="time" required/>
          </mat-form-field>
          <div *ngIf="isSubmitted && formControls.time.invalid" class="alert alert-danger">
            <div *ngIf="formControls.time.errors.required">
              Allocated time is required.
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="form-group">
        <label>Charging?<ion-text color="danger"> <sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup></ion-text>   :</label>
        <select matNativeControl placeholder="Select" class="form-control" name="charging" #charging_="ngModel" [(ngModel)]="charging" required>
            <option class="pb-1" [value]=true>Yes</option>
            <option class="pb-1" [value]=false>No</option>
        </select>
      </div>    

      <div class="form-group" *ngIf="charging">
        <label>
            Amount<ion-text color="danger"> <sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup></ion-text>
        </label>
        <input class="form-control" type="number" name="price" #price="ngModel" [(ngModel)]="paper.price" required/><ion-text>LKR</ion-text>
      </div> -->


  </div>
  <div class="modal-footer">
    <button mat-raised-button color="primary" type="button" class="btn btn-outline-dark" type="submit" [disabled]="disableSaveBtn">Save</button>  
  </div>
</form>