<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Paper</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="disableSaveBtn=!disableSaveBtn;isSubmitted='true';savePaper(modal);">
  <div class="modal-body">
      
      <div class="form-group">
        <label>
            Paper Name<sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup>
        </label>
        <input class="form-control" type="text" id="name" name="name" [(ngModel)]="paper.name" formControlName="name"/>
        <div *ngIf="isSubmitted && formControls.name.invalid" class="alert alert-danger">
          <div *ngIf="formControls.name.errors.required">
            Paper name is required.
          </div>
        </div>
      </div>  



      <div class="form-group">
          <label>
              Year
          </label>
          <input type="date" class="form-control" name="year" [(ngModel)]="created_date" formControlName="year" (change)="pickYear()" required/>
          <div *ngIf="isSubmitted && formControls.year.invalid" class="alert alert-danger">
            <div *ngIf="formControls.year.errors.required">
              Year is required.
            </div>
          </div>
          <label class="ml-2">
            {{paper.year}}
        </label>
      </div>
      
      <div class="form-group row">
        <div class="form-group col-md-6">
            <label>Subject<ion-text color="danger"> <sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup></ion-text>   :</label>
            <select matNativeControl placeholder="Select" class="form-control" name="subject" [(ngModel)]="paper.subject" formControlName="subject">
                <option class="pb-1" *ngFor="let subject of subjectGroup" [value]="subject.id">{{subject.data.name}}</option>
            </select>
            <div *ngIf="isSubmitted && formControls.subject.invalid" class="alert alert-danger">
              <div *ngIf="formControls.subject.errors.required">
                Subject is required.
              </div>
            </div>
        </div>
        
        <div class="form-group col-md-6">
              <label>Grade/ Level<ion-text color="danger"><sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup></ion-text>   :</label>
              <select matNativeControl placeholder="Select" class="form-control" name="grade_level" [(ngModel)]="paper.grade_level" formControlName="grade_level">
                  <option class="pb-1" value="Grade_6">Grade 6</option>
                  <option class="pb-1" value="Grade_7">Grade 7</option>
                  <option class="pb-1" value="Grade_8">Grade 8</option>
                  <option class="pb-1" value="Grade_9">Grade 9</option>
                  <option class="pb-1" value="Ordinary_Level">Ordinary Level</option>
                  <option class="pb-1" value="Advanced_Level">Advanced Level</option>
                  <option class="pb-1" value="Other">Other</option>
              </select>
              <div *ngIf="isSubmitted && formControls.grade_level.invalid" class="alert alert-danger">
                <div *ngIf="formControls.grade_level.errors.required">
                  Grade/ Level is required.
                </div>
              </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group col-md-6">
          <label>
              No. of Questions<ion-text color="danger"> <sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup></ion-text>
          </label>
          <input class="form-control" type="number" name="no_of_questions" [(ngModel)]="paper.no_of_questions" formControlName="no_of_questions"/>
          <div *ngIf="isSubmitted && formControls.no_of_questions.invalid" class="alert alert-danger">
            <div *ngIf="formControls.no_of_questions.errors.required">
              No. of questions is required.
            </div>
          </div>
        </div>  

        <div class="form-group col-md-6">
            <label>
                Allocated time in mins<ion-text color="danger"> <sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup></ion-text>
            </label>
            <input class="form-control" type="number" name="time" [(ngModel)]="paper.time" formControlName="time"/>
            <div *ngIf="isSubmitted && formControls.time.invalid" class="alert alert-danger">
              <div *ngIf="formControls.time.errors.required">
                Allocated time is required.
              </div>
            </div>
        </div>
      </div>

      <!-- <div class="form-group">
        <label>Charging?<ion-text color="danger"> <sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup></ion-text>   :</label>
        <select matNativeControl placeholder="Select" class="form-control" name="charging" #charging_="ngModel" [(ngModel)]="charging" required>
            <option class="pb-1" [value]=true>Yes</option>
            <option class="pb-1" [value]=false>No</option>
        </select>
      </div>    

      <div class="form-group" *ngIf="charging">
        <label>
            Amount<ion-text color="danger"> <sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup></ion-text>
        </label>
        <input class="form-control" type="number" name="price" #price="ngModel" [(ngModel)]="paper.price" required/><ion-text>LKR</ion-text>
      </div> -->


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" type="submit" [disabled]="disableSavebtn">Save</button>  
  </div>
</form>