<div *ngFor="let field of response">
  <div class="container">
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          <!-- Type your name and age -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{field.data.email}}</p>
      <p>{{field.data.contact}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
        Location
        </mat-panel-title>
        <mat-panel-description>
          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{field.more.streetNo1}}</p>
      <p>{{field.more.streetNo2}}</p>
      <p>{{field.more.city}}</p>
      <p>{{field.more.Town}}</p>
      <p>{{field.more.province}}</p>
    </mat-expansion-panel>
  </mat-accordion>

  </div>
  </div>
