  <section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-md-3 footer-brand animated fadeInLeft">
          <img src="assets/Logo1.png" height="50px" alt="">
          <h2>mtute</h2>
            <p>RANDOM TEXT</p>
            <p>© 2020 mtute.lk, All rights reserved</p>
        </div>
        
				<div class="col-xs-12 col-sm-3 col-md-3">
					<h5>Mtute</h5>
					<ul class="list-unstyled quick-links">
						<li><a [routerLink]="'/support/contact'"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
						<li><a [routerLink]="'/support'"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<h5>Legal</h5>
					<ul class="list-unstyled quick-links">
						<li><a [routerLink]="'/support/about'"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a [routerLink]="'/support'"><i class="fa fa-angle-double-right"></i>Support</a></li>
						<li><a [routerLink]="'/support'"  [queryParams]="{viewPrivacy: true}"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
						<li><a [routerLink]="'/support'"  [queryParams]="{viewTermsConditions: true}"><i class="fa fa-angle-double-right"></i>Terms of Use</a></li>
					</ul>
        </div>
                
				<div class="col-xs-12 col-sm-3 col-md-3">
          <h5>Social Media</h5>
          <ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/mtute.lk/"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://www.youtube.com/channel/UC5AMDYTDgLWrxQMT2ohExIA/videos"><i class="fa fa-youtube"></i></a></li>
          </ul>          
        </div>
			</div>
		</div>
	</section>