.note {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #fde073;
  text-align: center;
  line-height: 2.5;
  overflow: hidden; 
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
.card {
    width: 500px;
    margin-top: 15px;
    filter:drop-shadow(4px 4px 4px gray);
  }
.val{
  max-height: 20px;
  object-position: right;
  // background-image: url('../../../assets/propic/propic.png');
}


.container {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 10px;
  
}

.parallax {
  /* The image used */
  background-image:url('../../../assets/background2.jpeg');
  width:100%;
  height:30em;
  filter:drop-shadow(4px 8px 10px gray);
  filter:opacity(70%);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.middleTextTop {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-style: oblique;
  color: red;
}
.text-js{
  opacity: 0;
}
.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}

.verification {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 50px;
  text-indent: -999em;
  text-decoration: none;
}

//new
$avatar-size: 32px;
$body-background: #333641;

@font-face {
	font-family: "ubuntu";
	font-style: italic;
	font-weight: 300;
	src: local("Lato Light Italic"), local("Lato-LightItalic"),
		url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2)
			format("woff2");
}

a {
	text-decoration: none;
	color: #9ca0b1;
}

.wrapper {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
	h1 {
		color: #fff;
    font-size: 92px;
    margin-top: 150px;
		font-family: "ubuntu";
		text-transform: lowercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right, #d11121 10%, rgb(216, 129, 129) 50%, #ce0505 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 3.5s linear infinite;
		display: inline-block;
	}
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.new{
  @import url('https://fonts.googleapis.com/css?family=Roboto:300');


div {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  font-size: 2vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color:black;
}

div:first-of-type {    /* For increasing performance
                       ID/Class should've been used.
                       For a small demo
                       it's okaish for now */
  animation: showup 7s infinite;
}

div:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

div:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}
}

///////////////////////////
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}

.sideBar{
  background-image: url('../../../assets/background2.jpeg');
  height: 200px;
}


.section_content{
  margin: auto;
  padding-top: 50px;
}

.imageContainer{
  height: 20px;
  width: 20px;;
}


///////posts on newsfeed///////
.container-fluid{
  // margin-top: 20px;
}
.postfield{
  // background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  // https://www.scottlib.org/ImageRepository/Document?documentID=3348
  background: url('../../../assets/booksBackground.jpg') no-repeat center center fixed ;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.scroll {
  overflow-y: scroll;
  max-height: 500px;
}
.postContainer{
  margin-top: 20px;
  border-radius: 20px;
  padding: 15px;
  background: #1f4037;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #99f2c8, #2a4c43);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 1px 12px 54px rgba(22, 21, 21, 0.2);
  margin:0 auto;
}

.postContainer:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position:relative;
  z-index: 3;
}

.header-image {
  // background-image: url('../../../assets/propic/propic.png');
  background-size: cover;
  border-radius: 70%;
  object-position: left;
  width: 60px;
  height: 60px;
}


.proPicImage{
  margin-bottom: 30px;
  height: 60px;
  width: 60px;
}

.title{
  align-items: center;
  font-size: large;
  color: #110d7a;
}

.zoom {
  max-width: 300px;
  max-height: 250px;
  width: 100%;
  transition: transform .5s;
  cursor: pointer;

}
.zoom:active {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2);
  z-index: 99 !important;
  position: relative;
}

.verify-image{
  width: 50px;
  right: 0;
  top: 0;
  display: block;
  width: 50px;
  text-indent: -999em;
  text-decoration: none;
}
//////////////////////////
.click{
  cursor:pointer;
  color: #110d7a;


}
.click:hover{
  text-decoration: underline;
  color:#0095ff;
}


* {
	box-sizing: border-box;
}

body {
	background-color: #263238;
}

.btn {
	display: inline-block;
	color: rgb(128, 12, 12);
	min-width: 154px;
	text-decoration: none;
	margin-right: 50px;
	padding: 20px;
	position: relative;
	text-align: center;
	
	&:hover {
		.button-stroke:nth-child(2) {
			stroke-dashoffset: 0;
		}
	}
}

.button-stroke {
	display: block;
	width: calc(100% - 40px);
	height: 20px;
	stroke: yellow;
	position: absolute;
	left: 20px;
	bottom: -10px;
	stroke-width: 4;
	
	&:nth-child(2) {
		stroke-dasharray: 650px;
		stroke-dashoffset: 650px;
		stroke: darken(#263238, 10%);
		stroke-width: 5;
		transition: stroke-dashoffset 800ms ease-out;
	}
}

.image_dest {
  padding-bottom: 12px;
}