<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<!-- (click)='triggered(field.data.email)' -->
<!-- .toDate() | date: 'yyyy MMM dd hh:mm' -->
<!-- <div class="continer"> -->
  <div class='container-fluid'>

  <div class="parallax">
    <div class="wrapper">
      <h1>mtute.lk</h1>
    </div>
  </div>
  <notification-bar></notification-bar>
  <section class="section_content">
    <div class="container d-block d-sm-block d-md-none d-lg-none">
      <div class="col-sm-12 col-xs-12 text-center">
        <div class="servicetitle  animated fadeInDown">
          <h4>Inspire Students</h4>
          <hr>
        </div>
        <div class="servicetitle  animated zoomIn">
          <p>Help people learn new skills, advance their careers, and explore thier hobbies by sharing your knowledge
            
          </p>
        </div>
      </div>

      <div class="col-sm-12 col-xs-12 text-center">
        <div class="servicetitle  animated fadeInDown">
          <h4>Earn Money</h4>
          <hr>
        </div>
        <div class="servicetitle  animated zoomIn">
          <p>Earn money every time a student purchases your courses, Get paid monthly through PayPal or Payment. It is your choice.</p>
        </div>
      </div>

      <div class="col-sm-12 col-xs-12 text-center">
        <div class="servicetitle animated fadeInDown">
          <h4>Join Our community</h4>
          <hr>
        </div>
        <div class="servicetitle  animated zoomIn">
          <p>Take advantages of out active community of instructors to help you through your course creation process</p>
        </div>
      </div>

      <div class="col-sm-12 col-xs-12 text-center">
        <div class="servicetitle animated fadeInDown">
          <h4>Request an Online Lesson</h4>
          <hr>
        </div>
        <div class="servicetitle  animated zoomIn">
          <p>Please fill the form in order to assign you an ideal instructor for your learning requirement</p>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSd4nRTkNQ45WbLmKKMIiCGN7m4cUVkrNwusVPtc3IC9TN-XVQ/viewform">Go to Forum</a>
        </div>
      </div>
    </div>

    <div class="container d-none d-sm-noe d-md-block d-lg-block">
      <div class="row">
        <div class="col-lg-3 col-md-3 text-center">
          <div class="servicetitle  animated fadeInDown">
            <h4>Inspire Students</h4>
            <hr>
          </div>
          <div class="servicetitle  animated zoomIn">
            <p>Help people learn new skills, advance their careers, and explore thier hobbies by sharing your knowledge
              
            </p>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-3 text-center">
          <div class="servicetitle  animated fadeInDown">
            <h4>Earn Money</h4>
            <hr>
          </div>
          <div class="servicetitle  animated zoomIn">
            <p>Earn money every time a student purchases your courses, Get paid monthly through PayPal or Payment. It is your choice.</p>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-3 text-center">
          <div class="servicetitle animated fadeInDown">
            <h4>Join Our community</h4>
            <hr>
          </div>
          <div class="servicetitle  animated zoomIn">
            <p>Take advantages of out active community of instructors to help you through your course creation process</p>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-3 text-center">
          <div class="servicetitle animated fadeInDown">
            <h4>Request an Online Lesson</h4>
            <hr>
          </div>
          <div class="servicetitle  animated zoomIn">
            <p>Please fill the form in order to assign you an ideal instructor for your learning requirement</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSd4nRTkNQ45WbLmKKMIiCGN7m4cUVkrNwusVPtc3IC9TN-XVQ/viewform">Go to Forum</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <div class ="container-fluid postfield">
      <ul *ngFor ="let field of response">
        <div class='postContainer col-md-7'>

          <div class="row">

            <div class="verify">
              <img src={{field.data.verify}} class="verify-image" >
            </div>

              <div class="proPicImage">
                <img *ngIf='field.data.proPic' class="header-image" src ={{field.data.proPic}} alt="">
                <img *ngIf='!field.data.proPic' class="header-image" src ='../../../assets/propic/propic.png' alt="">
              </div>

              <div class= "col">
                <p>By <a class="click" (click) ='triggered(field.data.email,field.data.registerItem, field.data.name)'> {{field.data.name}}</a></p>
                <p class="title">{{field.data.title}}</p>
                <!-- {{field.data.create.toDate  | date: 'dd.mm.yyyy hh:MM:ss'}} -->
              </div>
          </div>


          <div class ="row">
            <div class="col-md-3 col-lg">
              <p><nga-read-more [text]="field.data.description" [textLength]="170"></nga-read-more></p>
              <p>{{field.data.contact}}</p>
              <p>{{field.data.distict}}</p>
            </div>

            <div class="col">
              <img src={{field.data.path}} alt="" class="zoom">
            </div>

          </div>

        </div>
      </ul>


  </div>
 
  <svg id="stroke" xmlns="http://www.w3.org/2000/svg" width="0" height="0">
    <defs>
      <path id="line" d="M2 2c49.7 2.6 100 3.1 150 1.7-46.5 2-93 4.4-139.2 7.3 45.2-1.5 90.6-1.8 135.8-.6" fill="none" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"/>
    </defs>
  </svg>
  
  <div class="container">
    <a class="btn" (click)="nextPage()" *ngIf='moreNextPosts'>Find out more
      <svg class="button-stroke" viewBox="0 0 154 13">
        <!-- <use href="#line"></use> -->
      </svg>
      <svg class="button-stroke" viewBox="0 0 154 13">
        <!-- <use href="#line"></use> -->
      </svg>
    </a>

    <a class="btn" (click)="previousPage()" *ngIf='morePreviousPosts'>Go back
      <svg class="button-stroke" viewBox="0 0 154 13">
        <!-- <use href="#line"></use> -->
      </svg>
      <svg class="button-stroke" viewBox="0 0 154 13">
        <!-- <use href="#line"></use> -->
      </svg>
    </a>
    <!-- <mat-form-field class ='full-width'>
      <mat-select placeholder="25" [(ngModel)]="pageLimitInput" name='pageLimit'>
        <mat-option value=5>25</mat-option>
        <mat-option value=50>50</mat-option>
        <mat-option value=75>75</mat-option>
        <mat-option value=100>100</mat-option>
      </mat-select>
    </mat-form-field>     -->
  </div>

  <app-footer></app-footer>