<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<!-- (click)='triggered(field.data.email)' -->
<!-- .toDate() | date: 'yyyy MMM dd hh:mm' -->
<!-- <div class="continer"> -->
  <div class='container-fluid'>

  <div class="parallax">
    <div class="wrapper">
      <h1>mtute.lk</h1>
    </div>
  </div>

  <section class="section_content">
    <div class="container">

      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
          <div class="servicetitle  animated fadeInDown">
            <h4>Responsive Layout</h4>
            <hr>
          </div>
          <div class="servicetitle  animated zoomIn">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since..</p>
          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="servicetitle  animated fadeInDown">
          <h4>Responsive Layout</h4>
          <hr>
        </div>
        <div class="servicetitle  animated zoomIn">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since..</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="servicetitle animated fadeInDown">
          <h4>Responsive Layout</h4>
          <hr>
        </div>
        <div class="servicetitle  animated zoomIn">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since..</p>
        </div>
      </div>

    </div>
  </section>


  <div class ="container-fluid postfield">
      <ul *ngFor ="let field of response">
        <div class='postContainer col-md-7'>

          <div class="row">

            <div class="verify">
              <img src={{field.data.verify}} class="verify-image" >
            </div>

              <div class="proPicImage">
                <img *ngIf='field.data.proPic' class="header-image" src ={{field.data.proPic}} alt="">
                <img *ngIf='!field.data.proPic' class="header-image" src ='../../../assets/propic/propic.png' alt="">
              </div>

              <div class= "col">
                <p>By <a class="click" (click) ='triggered(field.data.email,field.data.registerItem, field.data.name)'> {{field.data.name}}</a></p>
                <p class="title">{{field.data.title}}</p>
                <!-- {{field.data.create.toDate  | date: 'dd.mm.yyyy hh:MM:ss'}} -->
              </div>
          </div>


          <div class ="row">
            <div class="col-md-4 col-lg">
              <p><nga-read-more [text]="field.data.description" [textLength]="170"></nga-read-more></p>
              <p>{{field.data.contact}}</p>
              <p>{{field.data.distict}}</p>
            </div>

            <div class="col">
              <img src={{field.data.path}} alt="" class="zoom">
            </div>

          </div>

        </div>
      </ul>


  </div>

  <mat-paginator [length]='postsLength'
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
  </div>


