:root{
  position: fixed;
}

.container-fluid{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

app-footer {   
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;  
  
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.wrapper {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
	h1 {
		color: #fff;
    font-size: 92px;
    margin-top: 150px;
		font-family: "ubuntu";
		text-transform: lowercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
    // background: linear-gradient(to right, #d11121 10%, rgb(216, 129, 129) 50%, #ce0505 60%);
		background: linear-gradient(to right, #d11121 10%, rgb(216, 129, 129) 50%, #290808 10%,  rgb(158, 45, 45) 20%);
    
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 3.5s linear infinite;
		display: inline-block;
	}
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

///////posts on newsfeed///////

.postfield{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.postContainer{
  margin-top: 20px;
  color: #0fee29;
  border-radius: 20px;
  padding: 15px;
  background-image: url('../../../assets/notes/blackboard.jpg'); 
  box-shadow: 1px 12px 54px rgba(22, 21, 21, 0.2);
  margin:0 auto;
}

.postContainer:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position:relative;
  z-index: 3;
}

.verify-image{
  width: 50px;
  right: 0;
  top: 0;
  display: block;
  width: 50px;
  text-indent: -999em;
  text-decoration: none;
}

.header-image {
  background-size: cover;
  border-radius: 70%;
  object-position: left;
  width: 60px;
  height: 60px;
}

.proPicImage{
  margin-bottom: 30px;
  height: 60px;
  width: 60px;
}

.title{
  align-items: center;
  font-size: large;
  color: #51f064;

}

.zoom {
  max-width: 300px;
  max-height: 250px;
  width: 100%;
  transition: transform .5s;
  cursor: pointer;

}
.zoom:active {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2);
  z-index: 99 !important;
  position: relative;
}

.click{
  cursor:pointer;
  color: #51f064;
}

.click:hover{
  text-decoration: underline;
  color:#0095ff;
}

//////// paginator /////
.btn {
	display: inline-block;
	color: rgb(128, 12, 12);
	min-width: 154px;
	text-decoration: none;
	margin-right: 50px;
	padding: 20px;
	position: relative;
	text-align: center;
	
	&:hover {
		.button-stroke:nth-child(2) {
			stroke-dashoffset: 0;
		}
	}
}

.button-stroke {
	display: block;
	width: calc(100% - 40px);
	height: 20px;
	stroke: yellow;
	position: absolute;
	left: 20px;
	bottom: -10px;
	stroke-width: 4;
	
	&:nth-child(2) {
		stroke-dasharray: 650px;
		stroke-dashoffset: 650px;
		stroke: darken(#263238, 10%);
		stroke-width: 5;
		transition: stroke-dashoffset 800ms ease-out;
	}
}

.floatingButton:focus {
  display: flex;
  justify-content: center;
  width: 120px;
  outline: none !important;
  border: none !important;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media (max-width: 479px) {
 .wrapper{
   .h1{
    font-size: 45px;
    font-weight: 100;
   }
 }
 .parallax {
    min-height: 50vh;
 }
 .wrapper {
	h1 {
		color: #fff;
    font-size: 5em;
    margin-top: 0.5em;
		font-weight: 100
	}
}
}


////////////// Banner //////////
.parallax {
  background-image: url('../../../assets/backgroundWallpaper.jpg'); 
  width:100%;
  min-height:75vh;
  filter:drop-shadow(4px 8px 10px gray);
  filter:opacity(95%);
  // border-radius: 0 0 85% 85% / 30%;     //comment this to remove circular view of top image
  // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.baner-content {
	  width: 100%;
  	text-align: center;
    vertical-align: middle;
}

.baner-content .text-content {
	text-align: center;
}

.baner-content .text-content p {
  color: #9ba832;
  font-family: monospace;
  margin: 0 auto;

}

.baner-content .text-content .primary-white-button {
	margin-top: 25px;
}

@media (min-width: 669px) {
    .typewriter {
      font-size: 6vh;
      max-width: 200vh;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid orange; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      letter-spacing: .15em; /* Adjust as needed */
      animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
}
//////////////// service item///////////////
#about .service-item {
  padding-top: 25px;
  text-align: center;
  margin-bottom: 40px;

}

#about .service-item .icon {
	width: 95px;
	height: 95px;
	display: inline-block;
	text-align: center;
	line-height: 104px;
	border: 3px solid #fff;
	border-radius: 50%;
  // background-color: #f7c552;
  // background-color: #33c1cf;
  background-color: #6fc9e2;
  
  
}

#about .service-item h4 {
	margin-bottom: 30px;
	margin-top: 45px;
	font-size: 17px;
	font-weight: 500;
	color: rgb(29, 28, 28);
	letter-spacing: 1px;
}

#about .service-item .line-dec {
	width: 100%;
	height: 1px;
	background-color: rgba(14, 13, 13, 0.5);
}

#about .service-item p {
	color: rgb(19, 17, 17);
	margin-top: 30px;
}

#about .service-item .primary-blue-button {
  margin-top: 35px;
  cursor: pointer;
}

.primary-blue-button a {
	display: inline-block;
	background-color: #33c1cf;
	font-size: 13px;
	padding: 12px 18px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
}

.primary-blue-button:hover {
  transform: translateY(-3px);
  transition: opacity 0.2s ease-in-out;

}

.primary-blue-button:active {
  transform: translateY(-1px);
  transition: opacity 0.2s ease-in-out;

  // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


#about .card{
  // background-color: #004d40;
  // background: -webkit-linear-gradient(to right, #99f2c8, #2a4c43);
  // background: linear-gradient(to right, #99f2c8, #1f4037); 
  border-radius: 15px;
  border-color: blue($color: #2b5bd4);
  border-width: medium;
}

#about .card:hover {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
  transition: box-shadow 0.4s ease-in-out;
}
#about .card::after {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 569px) {
  #about .card{
    margin: 25px;
  }
}



/////////// contact us ///////////////

#contact-us {
	background-color: #596065;
	text-align: center;
	padding: 80px 0px;
}

#contact-us .section-heading h4 {
	margin-top: 0px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 1px;
}

#contact-us .section-heading .line-dec {
	width: 270px;
	height: 1px;
	background-color: rgba(250, 250, 250, 0.5);
	margin: 20px auto 15px auto;
}

#contact-us .section-heading p {
	color: #fff;
	padding: 0px 33%;
}

#contact-us .pop-button h4{
  margin-top: 30px;
	display: inline-block;
	background-color: #33c1cf;
	font-size: 13px!important;
	padding: 12px 18px;
	color: #fff;
	font-weight: 400!important;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	cursor: pointer;
}

.mat-fab{
  // background-color: blue;
	background-color: #33c1cf;
  background-size: cover;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 100;
}

.mat-fab:focus {
  outline: none;
  box-shadow: none;
}

.mat-fab .tooltiptext {
  visibility: hidden;
  padding: 1rem;
  background-color: blue;
  color: #fff;
  text-align: center;
  border-radius: 6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 100;
}

.mat-fab:hover .tooltiptext {  
  visibility: visible;
  top: -5px;
  right: 105%;
}
