<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<!-- (click)='triggered(field.data.email)' -->
<!-- .toDate() | date: 'yyyy MMM dd hh:mm' -->
<!-- <div class="continer"> -->
  <div class='container-fluid'>

  <div class="parallax">
    <div class="wrapper">
      <h1>mtute.lk</h1>
    </div>
  </div>

  <section class="section_content">
    <div class="container">

      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
          <div class="servicetitle  animated fadeInDown">
            <h4>Responsive Layout</h4>
            <hr>
          </div>
          <div class="servicetitle  animated zoomIn">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since..</p>
          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="servicetitle  animated fadeInDown">
          <h4>Responsive Layout</h4>
          <hr>
        </div>
        <div class="servicetitle  animated zoomIn">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since..</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
        <div class="servicetitle animated fadeInDown">
          <h4>Responsive Layout</h4>
          <hr>
        </div>
        <div class="servicetitle  animated zoomIn">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since..</p>
        </div>
      </div>

    </div>
  </section>


<!-- <div class="row"> -->
  <!-- <div class="col-sm-3">


    <mat-drawer mode="side" opened>
      <div class="sideBar">

        <div>
          search by
          <mat-checkbox>Check me!</mat-checkbox>
        </div>



      </div>
    </mat-drawer>
  </div>
 -->

  <!-- <div class="col">

    <ul *ngFor="let field of response">
      <div class= "container">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar>
               <img class="header-image" src ={{field.data.proPic}} alt="Avatar">
              </div>

            <mat-card-title class="click"><a (click) ='triggered(field.data.email,field.data.registerItem, field.data.name)'>{{field.data.title}}. {{field.data.name}}</a>
            </mat-card-title>
            <mat-card-subtitle>{{field.data.create}}</mat-card-subtitle>
          </mat-card-header>
          <div id="content">
            <img src={{field.data.verify}} class="verification"/>
          </div>
          <mat-card-content>
            <p>
              {{field.data.description}}
            </p>
          </mat-card-content>
          <img mat-card-image src={{field.data.path}} alt="Photo of a Shiba Inu">
        </mat-card>
      </div>
    </ul>

  </div>
</div> -->


  <div class ="col">
      <ul *ngFor ="let field of response">
        <div class='postContainer '>

          <div class="row">

            <div class="verify">
              <img src={{field.data.verify}} class="verify-image" >
            </div>

              <div class="proPicImage">
                <img class="header-image" src ={{field.data.proPic}} alt="">
              </div>

              <div class= "col">
                <p class="title">{{field.data.title}}</p>
                <p>By <a class="click" (click) ='triggered(field.data.email,field.data.registerItem, field.data.name)'> {{field.data.name}}</a></p>
              </div>
          </div>


          <div class ="row">
            <div class="col-md-4 col-lg">
              <img src={{field.data.path}} alt="" class="zoom">
            </div>
            <div class="col-md-4 col-lg">


              <p>{{field.data.description}}</p>
              <p>{{field.data.contact}}</p>
              <p>{{field.data.distict}}</p>

            </div>

          </div>

        </div>
      </ul>


  </div>

  </div>
