form {
    margin: 1rem;
}
.success {
    border: solid;
    border-color: green;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    fa-icon{
        background-color: green;
    }
}

.failed {
    border: solid;
    border-color: red;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    fa-icon{
        background-color: red;
    }
}