<div class="container">
    <h3>Build Up the Profile</h3>
    <hr>
  <div class="row">
      <div class="col-md-3">
       <h5>Profile Picture</h5>
  
       <div class="text-center">
  
            <div *ngIf='uploadProfile'>
            <img src="//placehold.it/100" src={{this.img_url}} class="avatar img-circle" class="img-thumbnail" alt="">
            <a (click)="deleteProfile()" class="btn btn-outline-danger">Delete</a>
            <div *ngIf="percentageProfile | async as pct">
                Progress: {{ pct | number }}%
            </div>
            </div>
    
            <div *ngIf="!uploadProfile">
    
            <h6>Upload a different photo...</h6>
            <input type="file" class="form-control" (change)="upload($event)" accept=".png,.jpg" />
            </div>
      </div>
  
      </div>
  
  
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>
        <form class="form-horizontal" role="form"  >
          <mat-vertical-stepper>
  
            <!-- personal Information -->
            <mat-step label="Personal Information">
  
  
              <div class="form-group">
                <label class="col-lg-3 control-label">First name:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text"  placeholder="First Name" [(ngModel)]="firstNameInput" name='first'>
                </div>
              </div>
  
              <div class="form-group">
                <label class="col-lg-3 control-label">Last name:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" placeholder="Last Name" [(ngModel)]="lastNameInput" name="last">
                </div>
              </div>
  
              <div class="form-group">
                  <label class="col-lg-3 control-label">Email:</label>
                  <div class="col-lg-8">
                    <input class="form-control" type="text"  [(ngModel)]="emailInput"  name='email' readonly>
                  </div>
              </div>
  
              <div class="form-group">
                  <label class="col-lg-3 control-label">Contact:</label>
                  <div class="col-lg-8">
                    <input class="form-control" type="text" placeholder="Contact" [(ngModel)]="contactInput" name='contact'>
                  </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3 control-label">Subject:</label>
                <div class="col-lg-8"> 
                  <mat-form-field class ='full-width'>
                    <mat-select [(ngModel)]="temp_subjectList" name='subject' (openedChange)="subjectOpenedChange()" (selectionChange)="subjectSelectionChange()" multiple>
                      <mat-option *ngFor="let subject of subjectGroup" [value]="subject.id">{{subject.data.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-3 control-label">Grade/ Level:</label>
                <div class="col-lg-8">
                  <mat-form-field class ='full-width'>
                    <mat-select [(ngModel)]="grade_level" name='grade' required>
                      <mat-option value="Grade_6">Grade 6</mat-option>
                      <mat-option value="Grade_7">Grade 7</mat-option>
                      <mat-option value="Grade_8">Grade 8</mat-option>
                      <mat-option value="Grade_9">Grade 9</mat-option>
                      <mat-option value="Ordinary_Level">GCE O/L</mat-option>
                      <mat-option value="Advanced_Level">GCE A/L</mat-option>
                      <mat-option value="Other">Other</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
  
            </mat-step>
  
            </mat-vertical-stepper>
  
             <div class="form-group">
                <button *ngIf="uploadBtnShow" type="button" class="btn btn-primary"(click)="updateValues()">Update</button>
                <label class="imageWaring m-1"><small>If you have uploaded a profile photo wait till new photo is shown.</small></label>
              </div>
  
        </form>
        <div class="row">
          <mat-accordian class="mb-3">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Account Settings
                </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-label>Delete account you account. This change can not be reverted.</mat-label>
                  <ul>
                    <li>
                      You will lose access for the mtute.lk as a registered user. But you can surf as a guest user.
                    </li>
                    <li>
                      You will lose access for the mtute mobile application as well.
                    </li>
                    <li>
                      Ownership of the published papers and notes will be transfered under mtute organization.
                    </li>
                  </ul>
                  <button mat-raised-button color="warn" (click)="deleteAccountPopUp(deleteAccConfirm)">Delete Account</button>
            </mat-expansion-panel>
          </mat-accordian>
        </div>
      </div>
  </div>
  </div>
  <hr>

  <ng-template #deleteAccConfirm let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Confirm deletion</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Are you sure you want to delete the account?</strong></p>
      <p>All information associated to this user account will be permanently deleted.</p>
      <span class="text-danger">This operation can not be undone.</span>
    </div>
    <div class="modal-footer">
      <button type="button" ngbAutofocus class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Ok click');deleteAccount();">Ok</button>
    </div>
  </ng-template>
  
  