<!-- Overlay -->
<!-- <div *ngIf="paper.id=='0'" class="overlay-panel overlay-panel-bg" ng-style="{ 'width' : width}"></div> -->

<div class="container-fluid root">
    <h4 class="text-center">Edit Paper</h4>
    <div class="container-fluid px-0 pb-5">
        <h6 *ngIf="paper.id=='0'" class="text-center">(This is a dummy paper. Create and select the paper from the paper list)</h6>
        <!-- Paper Details -->
        <div class="card my-3">
            <div class="card-header py-1">
                <div class="container"			>
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-xs-10 col-xs-10">
                            <p class="my-1 float-left h6"><label>Paper Details</label></p>        
                            <button mat-raised-button color="primary" *ngIf="paper.data.no_of_questions == paper.data.added_questions && !paper.data.published" class="btn btn-sm my-1 float-right h6" (click)="openPublishModal(publishConfirmModal)"><mat-label>Publish</mat-label></button>                        
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-2 col-xs-2">
                            <button type="button" class="btn btn-sm close float-right" (click)="isShowPaperDetail = !isShowPaperDetail">
                                <i class="fas"
                                    [ngClass]="{'fa-angle-up': isShowPaperDetail, 'fa-angle-down': !isShowPaperDetail}"></i>
                            </button>
                        </div>	
                    </div>
                </div>
            </div>
            <div *ngIf="isShowPaperDetail" class="card-body py-1">
                <form ngNativeValidate>
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" [(ngModel)]="paper.data.name" name="paperName" class="form-control form-control-sm"
                                id="paperName" placeholder="Paper Name" required [readonly]="paper.data.published">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" [(ngModel)]="paper.data.year" name="paperYear" class="form-control form-control-sm"
                                id="paperYear" placeholder="Year" required [readonly]="paper.data.published">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">                        
                                <mat-form-field class="full-width">
                                    <input matInput type="text" name="paperInstructor" class="form-control form-control-sm"
                                        id="paperInstructor" placeholder="Instructor" readonly [value]="loggedInUser.data.firstname + ' ' + loggedInUser.data.lastname">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">                        
                                <mat-form-field class="full-width">
                                    <input matInput type="text" [(ngModel)]="subjectName" name="paperSubject" class="form-control form-control-sm"
                                        id="paperSubject" placeholder="Subject" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                            <mat-form-field class="full-width">
                                <input matInput type="text" [(ngModel)]="paper.data.grade_level" name="grade_level" class="form-control form-control-sm"
                                id="paperPrice" placeholder="Grade/ Level"  readonly>
                            </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <mat-form-field class="full-width"> 
                                    <input matInput type="text" [(ngModel)]="paper.data.time" name="paperTime" class="form-control form-control-sm"
                                id="paperTime" placeholder="Time"  readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <mat-form-field class="full-width">
                                    <input matInput type="text" [(ngModel)]="paper.data.no_of_questions" name="paperNoOfQuestions" class="form-control form-control-sm"
                                    id="paperNoOfQuestions" placeholder="No. of Questions"  readonly>
                                </mat-form-field>
                            </div>		
                        </div>
                    </div>
                    <hr class="mt-3 mb-2" />
                    <div *ngIf="!paper.data.published" class="form-group">
                        <button mat-raised-button color="primary" class="btn btn-sm float-right" (click)="paperDetailSave()" [disabled]="paper.id=='0'">Save</button>
                    </div>
                </form>
            </div>
        </div>
    
        <!-- Question list -->
        <div class="card my-3">
            <div class="card-header py-1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-5">
                            <p class="my-1 float-left h6">
                                <span class="badge badge-primary mr-2">{{questionList.length}}</span>
                                <label>Questions</label>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-7">
                            <button id="showMoreQuestion" type="button" class="btn btn-sm close float-right"
                            (click)="isShowQuestion = !isShowQuestion">
                            <i class="fas " [ngClass]="{'fa-angle-up': isShowQuestion, 'fa-angle-down': !isShowQuestion}"></i>
                            </button>
                            <button id="saveQuestions" type="button" class="btn btn-sm btn-dark mr-2 float-right"
                            (click)="saveQuestions()" [disabled]="paper.data.published || paper.id=='0'">
                            <i class="fas fa-save"></i>
                            </button>
                            <button id="addNewQuestion" type="button" class="btn btn-sm btn-dark mr-2 float-right"
                            (click)="addNewQuestion()" [disabled]="paper.data.published || paper.id=='0'">
                            <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isShowQuestion" class="card-body p-2">
            <div *ngFor="let question of questionList; let t = index"
                class="card card-secondary my-2">
                <div class="card-body container-fluid p-1">
                    <div class="">
                        <div class="col-sm-8 float-left pl-2 pr-0">
                            <div class="row">
                                <div class="col-md-2 col-xs-2"><label>Q {{t+1}}</label></div>
                                <div class="col-md-10 col-xs-10">
                                    <div (click)="openKeyboard(question.data.question, true, questionList, t, 'data.question')" class="form-control form-control-sm" id="question" name="question" [innerHTML]="question.data.question"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-xs-2"><label>A</label></div>
                                <div class="col-md-10 col-xs-10">
                                    <div (click)="openKeyboard(question.data.a, true, questionList, t, 'data.a')" class="form-control form-control-sm" id="a" name="a" [innerHTML]="question.data.a"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-xs-2"><label>B</label></div>
                                <div class="col-md-10 col-xs-10">
                                    <div (click)="openKeyboard(question.data.b, true, questionList, t, 'data.b')" class="form-control form-control-sm" id="b" name="b" [innerHTML]="question.data.b"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-xs-2"><label>C</label></div>
                                <div class="col-md-10 col-xs-10">
                                    <div (click)="openKeyboard(question.data.c, true, questionList, t, 'data.c')" class="form-control form-control-sm" id="c" name="c" [innerHTML]="question.data.c"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-xs-2"><label>D</label></div>
                                <div class="col-md-10 col-xs-10">
                                    <div (click)="openKeyboard(question.data.d, true, questionList, t, 'data.d')" class="form-control form-control-sm" id="d" name="d" [innerHTML]="question.data.d"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-xs-2"><label>E</label></div>
                                <div class="col-md-10 col-xs-10">
                                    <div (click)="openKeyboard(question.data.e, true, questionList, t, 'data.e')" class="form-control form-control-sm" id="e" name="e" [innerHTML]="question.data.e"></div>
                                </div>
                            </div>
                            <div class="row" *ngIf="paper.data.published">
                                <div class="col-md-12 col-xs-12">                                    
                                    <label>{{'Answer: ' + question.data.answer}}</label>
                                </div>
                            </div>
                            <div class="row" *ngIf="!paper.data.published">
                                <div class="col-md-2 col-xs-2"><label>Answer: </label></div>
                                <select class="col-md-10 col-xs-10 form-control form-control-sm">
                                    <option value="A"><label [innerHTML]="question.data.a"></label></option>
                                    <option value="B"><label [innerHTML]="question.data.b"></label></option>
                                    <option value="C"><label [innerHTML]="question.data.c"></label></option>
                                    <option value="D"><label [innerHTML]="question.data.d"></label></option>
                                    <option value="E"><label [innerHTML]="question.data.e"></label></option>
                                </select>
                            </div>
                            <div class="row">
                                <mat-accordion class="col-xs-12">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                        <mat-panel-title>
                                          Add/Remove Images
                                        </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div>          
                                          <div class="row">
                                              <div class="col-md-10 col-xs-10"><mat-label>Image for the question: </mat-label></div>
                                              <div class="col-md-2 col-xs-2"><mat-checkbox style="float: right;" name=image{{t}} [(ngModel)]="question.data.image"></mat-checkbox></div>
                                          </div>
                                          <div class="row" *ngIf="question.data.image">
                                            <div class="col-md-8 col-xs-8"><input
                                              type="file"
                                              class="upload img_input"
                                              (change)="uploadFile($event, t)"
                                              name=imageFile{{t}}
                                              accept="image/*"
                                            />
                                            </div>
                                            <div class="col-md-4 col-xs-4"><img *ngIf="question.data.image_url!=''" [src]="question.data.image_url"/></div>              
                                          </div>
                                        </div>
                                        <div>          
                                          <div class="row">
                                            <div class="col-md-10 col-xs-10"><mat-label>Image for the Answer A: </mat-label></div>
                                            <div class="col-md-2 col-xs-2"><mat-checkbox style="float: right;" name=imageA{{t}} [(ngModel)]="question.data.image_A"></mat-checkbox></div>
                                          </div>
                                          <div class="row" *ngIf="question.data.image_A">
                                            <div class="col-md-8 col-xs-8"><input
                                              type="file"
                                              class="upload img_input"
                                              (change)="uploadFile($event, t, 'answerImage', 'a')"
                                              name=imageFile{{t}}
                                              accept="image/*"
                                            />
                                            </div>
                                            <div class="col-md-4 col-xs-4"><img *ngIf="question.data.imageA!=''" [src]="question.data.imageA"/></div>              
                                          </div>
                                        </div>
                                        <div>          
                                          <div class="row">
                                            <div class="col-md-10 col-xs-10"><mat-label>Image for the Answer B: </mat-label></div>
                                            <div class="col-md-2 col-xs-2"><mat-checkbox style="float: right;" name=imageB{{t}} [(ngModel)]="question.data.image_B"></mat-checkbox></div>
                                          </div>
                                          <div class="row" *ngIf="question.data.image_B">
                                            <div class="col-md-8 col-xs-8"><input
                                              type="file"
                                              class="upload img_input"
                                              (change)="uploadFile($event, t, 'answerImage', 'b')"
                                              name=imageFile{{t}}
                                              accept="image/*"
                                            />
                                            </div>
                                            <div class="col-md-4 col-xs-4"><img *ngIf="question.data.imageB!=''" [src]="question.data.imageB"/></div>              
                                          </div>
                                        </div>
                                        <div>          
                                          <div class="row">
                                            <div class="col-md-10 col-xs-10"><mat-label>Image for the Answer C: </mat-label></div>
                                            <div class="col-md-2 col-xs-2"><mat-checkbox style="float: right;" name=imageC{{t}} [(ngModel)]="question.data.image_C"></mat-checkbox></div>
                                          </div>
                                          <div class="row" *ngIf="question.data.image_C">
                                            <div class="col-md-8 col-xs-8"><input
                                              type="file"
                                              class="upload img_input"
                                              (change)="uploadFile($event, t, 'answerImage', 'c')"
                                              name=imageFile{{t}}
                                              accept="image/*"
                                            />
                                            </div>
                                            <div class="col-md-4 col-xs-4"><img *ngIf="question.data.imageC!=''" [src]="question.data.imageC"/></div>              
                                          </div>
                                        </div>
                                        <div>          
                                          <div class="row">
                                            <div class="col-md-10 col-xs-10"><mat-label>Image for the Answer D: </mat-label></div>
                                            <div class="col-md-2 col-xs-2"><mat-checkbox style="float: right;" name=imageD{{t}} [(ngModel)]="question.data.image_D"></mat-checkbox></div>
                                          </div>
                                          <div class="row" *ngIf="question.data.image_D">
                                            <div class="col-md-8 col-xs-8"><input
                                              type="file"
                                              class="upload img_input"
                                              (change)="uploadFile($event, t, 'answerImage', 'd')"
                                              name=imageFile{{t}}
                                              accept="image/*"
                                            />
                                            </div>
                                            <div class="col-md-4 col-xs-4"><img *ngIf="question.data.imageD!=''" [src]="question.data.imageD"/></div>              
                                          </div>
                                        </div>
                                        <div>          
                                          <div class="row">
                                            <div class="col-md-10 col-xs-10"><mat-label>Image for the Answer E: </mat-label></div>
                                            <div class="col-md-2 col-xs-2"><mat-checkbox style="float: right;" name=imageE{{t}} [(ngModel)]="question.data.image_E"></mat-checkbox></div>
                                          </div>
                                          <div class="row" *ngIf="question.data.image_E">
                                            <div class="col-md-8 col-xs-8"><input
                                              type="file"
                                              class="upload img_input"
                                              (change)="uploadFile($event, t, 'answerImage', 'e')"
                                              name=imageFile{{t}}
                                              accept="image/*"
                                            />
                                            </div>
                                            <div class="col-md-4 col-xs-4"><img *ngIf="question.data.imageE!=''" [src]="question.data.imageE"/></div>              
                                          </div>
                                        </div>  
                                      </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            
                        </div>
                        <div *ngIf="!paper.data.published" class="col-sm-4 float-right px-0">
                            <button id="btnDeleteTopic" type="button" class="my-1 mx-2 close float-right"
                                (click)="deleteQuestion(question, t)" [disabled]="paper.id=='0'">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button *ngIf="(questionList.length > 1) && (t != 0) && question.id!='0'" id="btnMoveUpTopic" type="button"
                                class="my-1 mx-2 close float-right" (click)="changePositionQuestion( t, 'up')" [disabled]="paper.id=='0'">
                                <i class="fas fa-arrow-up"></i>
                            </button>
                            <button *ngIf="(questionList.length > 1) && (t != (questionList.length - 1)) && !(t + 1 >= questionList.length) && (questionList[t+1].id!='0')"
                                id="btnMoveDownTopic" type="button" class="my-1 mx-2 close float-right"
                                (click)="changePositionQuestion( t, 'down')" [disabled]="paper.id=='0'">
                                <i class="fas fa-arrow-down"></i>
                            </button>						
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
        
<ng-template #publishConfirmModal let-modal>
    <div class="card">
        <div class="card-header">
            Do you really want to publish the paper?
        </div>
        <div class="card-body"> 
            <mat-radio-group class="mb-1" aria-label="Select an option" [(ngModel)]="publish">
                <mat-radio-button class="mr-1" value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no">No</mat-radio-button>
            </mat-radio-group><br>  
            <mat-form-field class="mb-1" *ngIf="publish=='yes'">
                <input matInput placeholder="Enter Description" [(ngModel)]='description' name='description'>
            </mat-form-field><br>
            <label class="mb-1"><small style="color: red;">Once you published a paper you can not edit/ delete the paper</small></label>
        </div>
        <div class="card-footer">
            <button style="float: right;" mat-button (click)="modal.close('Close click')">Close</button>
            <button style="float: right;" *ngIf="publish=='yes'" mat-button color="primary" (click)="modal.close('Publish click');publishPaper();">Publish</button>
        </div>
    </div>
</ng-template>
