<!-- <div class="bg"></div> -->
<!-- <div class="parallax">
  <h1>uyfuyfuyf</h1>
</div> -->/
  <div class ="headers"  align-items-center>
    <h3>Add Classes</h3>
  </div>
  <form class="form" >
    <mat-form-field class="">
      <input matInput #message maxlength="256" placeholder="Topic" [(ngModel)]="nameInput" id="name" name="ids" required>
      <mat-hint><strong>Eg - Grade 9, O/L, A/L, After A/L and so on....</strong> </mat-hint>
    </mat-form-field>
    <button mat-raised-button class="example-add-tab-button" (click)="addTab(selectAfterAdding.checked)" [disabled]="nameInput==='' " >
      Add new Topic
    </button>
    <mat-checkbox #selectAfterAdding> Select tab after adding </mat-checkbox>

    <mat-accordion >
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false" class="helpPanel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Help
          </mat-panel-title>
          <mat-panel-description>
            if you need any guide
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Add under "topic" section the grade you are teaching</p>
        <p>It is better if the value is something like "grade 6/ Grade 7 / Advanced level (2021)/
          Ordinary Level (2020)" </p>
          <p>Fill relevant details in each tabs </p>
          <p>You are free to add more class details under same tab
            (if you are teaching same grade but different places or different time..)</p>
          <p>Only AFTER filling all the details press "UPLOAD"  </p>

      </mat-expansion-panel>
    </mat-accordion>

  </form><br>

<div class = "subcontainer" class="parallax">
<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab"  >
    <h4>Contents for {{tab}}</h4>
    <!-- <button mat-raised-button class="example-delete-tab-button" (click)="removeTab(index)">
      Delete Tab
    </button> -->
    <form class="form" >
    <mat-accordion >
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Details
          </mat-panel-title>
          <mat-panel-description>
            Enter Values
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="full-width">
          <input matInput placeholder="Subject" [(ngModel)]="subjectInput" name="subject">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Name of the Place" [(ngModel)]="placeInput" name="place">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Starting Time" [(ngModel)]="timeInput" name='time'>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="City" [(ngModel)]="cityInput" name='city'>
        </mat-form-field>

        <mat-form-field class ='full-width'>
          <mat-select placeholder="District" [(ngModel)]="DistrictInput" name='District'>
            <mat-option value="Colombo">Colombo</mat-option>
            <mat-option value="Kurunegala">Kurunegala</mat-option>
            <mat-option value="Gamapaha">Gamapaha</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class ='full-width'>
          <mat-select placeholder="Class Day" [(ngModel)]="dayInput" name='day'>
            <mat-option value="Monday">Monday</mat-option>
            <mat-option value="Tuesday">Tuesday</mat-option>
            <mat-option value="Wednesday">Wednesday</mat-option>
            <mat-option value="Thursday">Thursday</mat-option>
            <mat-option value="Friday">Friday</mat-option>
            <mat-option value="Saturday">Saturday</mat-option>
            <mat-option value="Sunday">Sunday</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class ='full-width'>
          <mat-select placeholder="Medium" [(ngModel)]="mediumInput" name='medium'>
            <mat-option value="Sinhala">Sinhala</mat-option>
            <mat-option value="English">English</mat-option>
            <mat-option value="Tamil">Tamil</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class ='full-width'>
          <mat-select placeholder="Class Type" [(ngModel)]="classTypeInput" name='classtype'>
            <mat-option value="Hall Class">Hall Class</mat-option>
            <mat-option value="Group Class">Group Class</mat-option>
            <mat-option value="Limited Class">Limited Class</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button class="example-delete-tab-button" (click)="submit(index)" [disabled] >
          Add Details
        </button>

      </mat-expansion-panel>
    </mat-accordion>
  </form>
  </mat-tab>
</mat-tab-group>
</div>
<!-- <div *ngFor="let tab of cards">
{{tab.place}}
 <button mat-raised-button class="example-delete-tab-button" (click)="removeDe(tab.index)">
      Delete Tab
    </button>
</div> -->

  <div class ="headers" align-items-center>
    <h4>Newly Added Class Details</h4>
  </div>

  <div class= "addedDetails" *ngFor="let tab of cards">
    <mat-card class="card">
      <mat-card-subtitle><b>{{tab.primary}}</b></mat-card-subtitle>
      <mat-card-subtitle> <b>Subject :</b>{{tab.subject}}</mat-card-subtitle>
    <mat-card-content>
      <p><b>Class place : </b>{{tab.place}}</p>
      <p><b>Day         : </b>{{tab.day}}</p>
      <p><b>Time        : </b>{{tab.time}}</p>
      <p><b>Medium      : </b>{{tab.medium}}</p>
      <p><b>Class type  : </b>{{tab.classType}}</p>
      <p><b>City        : </b>{{tab.city}}</p>
      <p><b>Province    : </b>{{tab.province}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="example-delete-tab-button" (click)="removeDe(tab.id)" [disabled]>
        Delete
      </button>
    </mat-card-actions>
    </mat-card>
  </div>


<button mat-raised-button class="example-delete-tab-button" (click)="upload()" [disabled]='cards.length === 0' id='buttonUploadAll'>
  Upload all values
</button>

<div class ="headers" align-items-cente>
 <h4>Existing Class Details</h4>
</div>
<!-- <div class= "addedDetails" *ngFor="let tab of cards">
  <mat-card>
    <mat-card-subtitle>	{{tab.place}}</mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button class="example-delete-tab-button" (click)="removeDe(tab.index)">
        Delete Tab
      </button>
    </mat-card-actions>
  </mat-card>
</div> -->


<ul *ngFor="let field of response">
  <ul *ngFor="let subdetails of field.data.content">
  <div  class= "Details">
    <mat-card class="card">
      <mat-card-subtitle><b>{{subdetails.primary}}</b></mat-card-subtitle>
      <mat-card-subtitle> <b>Subject :</b>{{subdetails.subject}}</mat-card-subtitle>
     <mat-card-content>
      <p><b>Class place : </b>{{subdetails.place}}</p>
      <p><b>Day         : </b>{{subdetails.day}}</p>
      <p><b>Time        : </b>{{subdetails.time}}</p>
      <p><b>Medium      : </b>{{subdetails.medium}}</p>
      <p><b>Class type  : </b>{{subdetails.classType}}</p>
      <p><b>City        : </b>{{subdetails.city}}</p>
      <p><b>Province    : </b>{{subdetails.province}}</p>
     </mat-card-content>
     <mat-card-actions>
      <button mat-raised-button class="example-delete-tab-button" (click)="update(field.id)" [disabled]>
        Update
      </button>
      <button mat-raised-button class="example-delete-tab-button" (click)="delete(field.id)" [disabled] >
        Delete
      </button>
    </mat-card-actions>
    </mat-card>
  </div>
  </ul>
</ul>
