
<div class="animated fadeIn ck" *ngIf='response'>
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
                <div class="card-body pb-0">
                <div class="text-value" >{{response.instructor}}</div>
                <div>Instructor Count</div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                <div class="text-value">{{response.institute}}</div>
                <div>Institute count</div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                <div class="text-value">{{response.student}}</div>
                <div>Studnet count</div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-dark">
                <div class="card-body pb-0">
                <div class="text-value" >{{response.notes}}</div>
                <div>notes Count</div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-danger">
                <div class="card-body pb-0">
                <div class="text-value">{{response.posts}}</div>
                <div>posts count</div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-success">
                <div class="card-body pb-0">
                <div class="text-value">{{response.papers}}</div>
                <div>papers count</div>
                </div>
            </div>
        </div>
    </div>    
</div>