<!--

<div class='searchOption' >
  <mat-form-field class="full-width">
    <input matInput placeholder="Enter First Name or Last Name" [(ngModel)]='searchInput' name='search'>
  </mat-form-field>
  <button mat-flat-button (click)='search()'>Search</button>
  <button mat-flat-button (click)='searchClose()'>Close</button>
</div>
 -->
 <div class='container-fluid'>
  <div class="row">


    <div class = 'col-md-3'>
      <div class='form row radios'>
        <!-- <mat-radio-button value="Name" (change)="eventByName($event)" >Name</mat-radio-button> -->

        <!-- <div *ngIf="showByName"> -->
          <mat-form-field class="full-width">
            <input matInput placeholder="Enter Name" [(ngModel)]='searchNameInput' name='searchName' (keydown.enter)='searchName()'>
          </mat-form-field>
          <div class ='full-width'>
            <button mat-flat-button (click)='searchName()'>Search</button>
            <button mat-flat-button (click)='searchNameClose()'>Clear</button>
          </div>
        </div>
      <!-- </div>
       -->
      <div class ='row radios'>
        <!-- <mat-radio-button value="Class" (change)="eventByClass($event)">Class</mat-radio-button> -->

        <!-- <div *ngIf="showByClass"> -->

          <mat-form-field class="full-width">
            <input matInput placeholder="Enter City" [(ngModel)]='searchCityInput' name='searchClass' >
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Enter District" [(ngModel)]='searchDistrictInput' name='searchClass' required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Enter Subject" [(ngModel)]='searchSubjectInput' name='searchClass' required (keydown.enter)='searchClass()'>
          </mat-form-field>
          <div class = 'full-width'>
            <button mat-flat-button (click)='searchClass()'>Search</button>
            <button mat-flat-button (click)='searchClassClose()'>Clear</button>
          </div>
        <!-- </div> -->
      </div>
    </div>


    <div class = 'col-md-5'>

      <div *ngIf="!nameSearchClicked">
        <div *ngIf="!classSearchClicked">
      <ul *ngFor="let field of personResponse">
        <div class="profileDetails card-1">
          <img *ngIf= "field.data.img_url" class="header-image" src ={{field.data.img_url}} >
            <img *ngIf= "!field.data.img_url" class="header-image" src =  'assets/propic/propic.png'>

          <div class="click">
            <a (click) ='profileView(field.data.email, field.data.firstname, field.data.lastname)'>{{field.data.firstname}} {{field.data.lastname}}</a>
          </div>
          <div id="content">
            <img src={{field.data.verify}} class="verification"/>
          </div>
        </div>
      </ul>
      </div>
      </div>

      <div *ngIf = "nameSearchClicked">
        <ul *ngFor="let field of searchedList">
          <div class="profileDetails card-1">

            <img *ngIf= "field.data.img_url" class="header-image" src ={{field.data.img_url}} >
            <img *ngIf= "!field.data.img_url" class="header-image" src =  'assets/propic/propic.png'>

            <div class="click">
              <a (click) ='profileView(field.data.email, field.data.firstname, field.data.lastname)'>{{field.data.firstname}} {{field.data.lastname}}</a>
            </div>
            <div id="content">
              <img src={{field.data.verify}} class="verification"/>
            </div>
          </div>
        </ul>
      </div>

      <div *ngIf = "nameSearchClicked">
        <div *ngIf='classSearchClicked'>
          From above Search results
          <ul *ngFor="let field of searchedClassList2; let index = index">
            <div class="classDetails card-1">
              <mat-accordion >
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{field.primary}}
                    </mat-panel-title>
                    <mat-panel-description>
                      <a class="click" (click) ='profileView2(emailList2[index].email, emailList2[index].name)'>{{emailList2[index].name}}</a>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <b>Place         : </b><p>{{field.place}}</p>
                  <b>Day         : </b><p>{{field.day}}</p>
                  <b>Time        : </b><p>{{field.time}}</p>
                  <b>Medium      : </b><p>{{field.medium}}</p>
                  <b>Class type  : </b><p>{{field.classType}}</p>
                  <b>City        : </b><p>{{field.city}}</p>
                  <b>District    : </b><p>{{field.district}}</p>

                </mat-expansion-panel>
              </mat-accordion>

            </div>
          </ul>
        </div>
      </div>

      <div *ngIf = "classSearchClicked">
        From All Teachers
        <ul *ngFor="let field of searchedClassList; let index = index">
          <div class="classDetails card-1">
            <mat-accordion >
              <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{field.primary}}
                  </mat-panel-title>
                  <mat-panel-description>
                    <a class="click" (click) ='profileView2(emailList[index].email, emailList[index].name)'>{{emailList[index].name}}</a>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <b>Place         : </b><p>{{field.place}}</p>
                <b>Day         : </b><p>{{field.day}}</p>
                <b>Time        : </b><p>{{field.time}}</p>
                <b>Medium      : </b><p>{{field.medium}}</p>
                <b>Class type  : </b><p>{{field.classType}}</p>
                <b>City        : </b><p>{{field.city}}</p>
                <b>District        : </b><p>{{field.district}}</p>

              </mat-expansion-panel>
            </mat-accordion>

          </div>
        </ul>
      </div>


    </div>
  </div>
</div>
