


<div  *ngIf="notTriggeredClick; else details">
    <ul *ngFor="let field of response">
      <div class="profileDetails card-1">
        <img class="header-image" src ={{field.data.propic}} >
        <div class="click">
          <a (click) ='triggered(field.data.email)'>{{field.data.name}} {{field.data.lastName}}</a>
        </div>
        <div id="content">
          <img src={{field.data.verify}} class="verification"/>
        </div>
      </div>
  </ul>
</div>

<ng-template #details>
  <div class ='subDetails'>
    <app-view-person-posts [childMessage]="this.email"></app-view-person-posts>
</div>
    <button mat-raised-button class="goBack-button" (click)="goBack()" >
      Go Back
    </button>
    <button mat-raised-button class="goBack-button" (click)="verify(this.email)" >
      Verify Details
    </button>

</ng-template>

