// .bg {
//   /* The image used */
//   background-image: url('../../../../assets/images/backgroundMainWallpaper.jpg');
//   /* Full height */
//   height: 100%;
//   /* Center and scale the image nicely */
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
.parallax {
  /* The image used */
  background-image:url('../../../../assets/Classes/pattern3.jpg');
  width:auto;
  height:53em;
  filter:drop-shadow(4px 8px 10px gray);
  filter:opacity(100%);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 25px;
}
.full-width {
  width: 100%;
}
.form {
  min-width: 150px;
  width: 100%;
  width: 700px;
  margin: auto
}
.headers{
  margin: 25px;
}
.subcontainer{
  margin: 10px;
  background-color: #abdede;
  padding: 20px;
  color: black;

  .h4{
    padding-top: 10px;
    padding-left: 10px;
  }
}
.addedDetails {
  padding-top: 30px;
  padding-bottom: 30px;
  min-width: 150px;
  width: 100%;
  width: 400px;
  margin: auto;
}

.Details {
  padding-top: 15px;
  padding-bottom: 15px;;
  min-width: 150px;
  width: 100%;
  width: 700px;
  margin-left: 100px;

}

mat-card {
  background-color: #cbafed;
}
mat-tab {
  background-color: red($color: #000000);
}
.helpPanel {
  background-color: #a3291d;
  text-decoration-color: darken($color: #000000, $amount: 0);
}

.imageExpansion {
  background-color: #a6bab4
}
