.mat-list-item {
    background-color: #ada5d9;
}

.messages {
    background-color: #67c426;

}

.click{
    cursor:pointer;
    font-size: 15px;
  
  }
  .click:hover{
    text-decoration: underline;
    color:#54a7e3;
    font-size: 15px;
  }