<div class= "addedDetails"  *ngFor="let tabs of response">
    <ul *ngFor="let tab of tabs.data.content">
  
      <mat-accordion>
        <mat-expansion-panel class="imageExpansion">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{tab.primary}}
            </mat-panel-title>
            <mat-panel-description>
              {{tab.subject}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <b>Day         : </b><p>{{tab.day}}</p>
          <b>Time        : </b><p>{{tab.time}}</p>
          <b>Medium      : </b><p>{{tab.medium}}</p>
          <b>Class type  : </b><p>{{tab.classType}}</p>
        </mat-expansion-panel>
      </mat-accordion>
      </ul>
  </div>
  