<div class = 'container-fluid'>
  <div *ngFor="let field of response">

      <div class="flapImage col-12" id="idHot">
        <img *ngIf="field.data.backgroundImagePath" src={{field.data.backgroundImagePath}}  class="img-fluid backgroundImage" />
        <img *ngIf="!field.data.backgroundImagePath" src='assets/propic/noPphotoBackground.png'  class="img-fluid backgroundImage" />

        <img *ngIf="field.data.profileImagePath" src={{field.data.profileImagePath}}  class="avatar" />
        <img *ngIf="!field.data.profileImagePath" src='assets/propic/propic.png'  class="avatar" />
     </div>

     <div class="text-center">
      <h4 >{{field.data.name}}</h4>
    </div>

  </div>
</div>

  <div class="tabssub col-9">
      <mat-tab-group>

        <mat-tab label="About">
          <app-profile-details-institute [childMessage]="this.email"></app-profile-details-institute>
        </mat-tab>

        <mat-tab label="Posts">
          <app-view-posts [childMessage]="this.email"></app-view-posts>
        </mat-tab>

        <mat-tab label="Classes" >
          <app-classes-view-institute [childMessage]="this.email"></app-classes-view-institute>
        </mat-tab>

        <mat-tab label="Papers">
          <app-papers [childMessage]="this.email"></app-papers>
        </mat-tab>

    </mat-tab-group>
  </div>
