<div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col col-md-4 all">

        
        <ul *ngFor="let field of value; let index = index" >
          <div class="profileDetails card-1">

            <img *ngIf= "field.img_url" class="header-image" src ={{field.img_url}} >
            <img *ngIf= "!field.img_url" class="header-image" src =  'assets/propic/propic.png'>

            <!-- <div class="click"> -->
              <a class='click' (click) ='details(index)'>{{field.name}}</a>
            <!-- </div> -->
          </div>
        </ul>
        
      </div>
      
      <div class="col-6 col-md-8 messages" *ngIf ='value'>

        <p>Topic - {{value[numbers].topic}} </p>
        <p>Description - {{value[numbers].description}} </p>
      </div>

    </div>
</div>





  