  .container-fluid {
    overflow: hidden;
  }
  .top {
    font-size: 4vh;
    margin: 10px;
    text-align: center;

  }

  .mat-list-item {
    background-color: #ada5d9;
    height: auto;
  }

  .messages {
    background-color: #cdd3cb;
    margin-bottom: 50px;
    max-height: 75vh;
    position: sticky;
    top:0;
    z-index: 999;
    overflow-y: scroll;
    overflow-x: hidden;
    filter:drop-shadow(4px 4px 4px gray);

  }

  .click{
    cursor:pointer;
    color: #f3f3f6;
    font-size: 15px;
    padding: 15px;
  
  }
  .click:hover{
    text-decoration: underline;
    color: #0b1688;
    font-size: 15px;
  }

  .profileDetails {
    background-color: #e1e9de;
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 12px;
    // margin:auto;
    filter:drop-shadow(4px 4px 4px gray);
    justify-content: left;
    // align-items: flex-start;
    // text-indent: 15px;   
    // margin: 0 12 12 12;
  
    // display: flex;
  }
  .nameIndividual{
    background-color: #0d81da;
    border-radius: 10px;
    // margin: 10px;
    padding: 10px;
  }
  .header-image {
    background-size: cover;
    border-radius: 70%;
    object-position: left;
    width: 60px;
    height: 60px;
  }
  
  // .all {
  //   overflow-y: scroll;
  //   height: 500px;
  //   // background-color: #ada5d9;
  // }


  .rightMessage {
    text-align: right;
    margin-left: 10px;
    color : #082b7c;
  }
  
  .leftMessage {
    text-align: left;
  }