<div class="container-fluid">
  <div class = 'top'>
    Messages
  </div>
  <div class="row">
    <div class="col-md-3 col-lg-3 profileDetails">
      
      <ul *ngFor="let field of response; let index = index" >

        <div class="nameIndividual">

          <img *ngIf= "field.data.img_urlStu" class="header-image" src ={{field.data.img_urlStu}} >
          <img *ngIf= "!field.data.img_urlStu" class="header-image" src =  'assets/propic/propic.png'>

            <a class='click' (click) ='details(index,subIndex)'>{{field.data.nameStu}}</a>
        </div>
        </ul>
    </div>


    <div class="col-md-9 col-lg-9 messages" *ngIf ='value'>
        <!-- <p><b>Topic - {{response[mainIndex].data.content[subIndex].topic}}</b></p> -->
        <ul *ngFor="let fields of response[mainIndex].data.content" >

          <div *ngIf = "fields.from == 'student'" class="leftMessage">
            <p><b>{{fields.topic}}</b></p>
            <div class='content'><p>Grade - {{fields.grade}} </p></div>
            <p>Subject - {{fields.subject}} </p>
            <p>Date - {{fields.date}} </p>
            <p>Time - {{fields.time}} </p>
            <p>Description - {{fields.description}} </p>
          </div>

          <div *ngIf = "fields.from == 'instructor'" class="rightMessage">
            <p>Description - {{fields.description}}</p>
            <p>Suggested Date - {{fields.date}} </p>
            <p>Suggested Time - {{fields.time}} </p>
            <p>link - {{fields.link}} </p>
          </div>
      </ul>

      <div class="form-group">
        <button type="submit" class="btn btn-success" (click)="reply()">Reply</button>
      </div>
    </div>

  </div>
</div>









  