.mat-list-item {
    background-color: #ada5d9;
    height: auto;
}

.messages {
    background-color: #67c426;
    margin-bottom: 50px;
    height: 300px;
    position: sticky;
    top:0;
    z-index: 999;

}

.click{
    cursor:pointer;
    font-size: 15px;
    padding: 15px;
  
  }
  .click:hover{
    text-decoration: underline;
    color:#54a7e3;
    font-size: 15px;
  }

  .profileDetails {
    padding-top: 12px;
    width: 240px;
    margin:auto;
    filter:drop-shadow(4px 4px 4px gray);
    justify-content: center;
    align-items: center;
    text-indent: 15px;
    overflow:hidden;
   
    margin: 0 12 12 12;
  
    // display: flex;
  }

  .header-image {

    background-size: cover;
    border-radius: 70%;
    object-position: left;
    width: 60px;
    height: 60px;
  }
  
  .all {
    overflow-y: scroll;
    height: 500px;
    // background-color: #ada5d9;
  }