<div class = 'mainContainer'>
    <!-- <div  *ngIf="notTriggeredClick; else details" > -->
    <div  *ngIf="notTriggeredClick" >
  
        <div class='searchOption' >
            <mat-form-field class="full-width">
                <input matInput placeholder="Enter Name" [(ngModel)]='searchInput' name='search' (keydown.enter) = 'search()' (change)='filterItems(searchInput)'>
            </mat-form-field>
            <button mat-flat-button (click)='search()'>Search</button>
            <button mat-flat-button (click)='searchClose()'>Close</button>
        </div>
  
  
        <div class ='row'>
            <div class = 'col-md-3' style='margin-left: 10px;'>
                <p><mat-radio-button value="allUsers" (change)="event($event)" >All Users</mat-radio-button></p>
                <p><mat-radio-button value="verifiedUsers" (change)="event($event)" > All Verified Users</mat-radio-button></p>
                <p><mat-radio-button value="notVerifiedUsers" (change)="event($event)" >All Not Verified Users</mat-radio-button></p>
                <!-- <p><button mat-flat-button (click)='viewInstitute(institute)'>Institutes</button></p> -->
            </div>
        </div>


        <!-- <div *ngIf ='showAllUsers'>
            <div *ngIf="!searchClicked"> -->

              <div class = 'col-md-4' >
                <h2 class='text-center'>Teachers</h2>
                <ul *ngFor="let field of resultListInstructor">
                  <div class="profileDetails card-1">
                    <img *ngIf = 'field.data.img_url' class="header-image" src ={{field.data.img_url}} >
                    <img *ngIf = '!field.data.img_url' class="header-image" src ='/assets/propic/propic.png' >
                    <div class="click">
                      <a (click) ='triggeredInstructor(field.data.email)'>{{field.data.firstname}} {{field.data.lastName}}</a>
                    </div>
                    <div id="content">
                      <img src={{field.data.verify}} class="verification"/>
                    </div>
                  </div>
                </ul>
              </div>
              <!-- </div>
          </div> -->

              <!-- <div *ngIf ='showAllUsers'  #institute>
                <div *ngIf="!searchClicked"> -->

              <div class = 'col-md-4'>
                <h2 class='text-center'>Institutes</h2>
                <ul *ngFor="let field of resultListInstitute">
                  <div class="profileDetails card-1">
                    <img *ngIf = 'field.data.img_url' class="header-image" src ={{field.data.img_url}} >
                    <img *ngIf = '!field.data.img_url' class="header-image" src ='/assets/propic/propic.png' >
                    <div class="click">
                      <a (click) ='triggeredInstitute(field.data.email)'>{{field.data.firstname}} {{field.data.lastname}}</a>
                    </div>
                    <div id="content">
                      <img src={{field.data.verify}} class="verification"/>
                    </div>
                  </div>
                </ul>
              </div>

          <!-- </div>
        </div> -->



    </div>
</div>