<div class ="container-fluid">
  <ul *ngFor ="let field of response">
    <div class='postContainer col-md-9'>

      <div class="row">

        <div class="verify">
          <img src={{field.data.verify}} class="verify-image" >
        </div>

          <div class="proPicImage">
            <img *ngIf='field.data.proPic' class="header-image" src ={{field.data.proPic}} alt="">
            <img *ngIf='!field.data.proPic' class="header-image" src ='../../../assets/propic/propic.png' alt="">
          </div>

          <div class= "col">
            <p>By {{field.data.name}}</p>
            <p class="title">{{field.data.title}}</p>
          </div>
      </div>


      <div class ="row">
        <div class="col">
          <img src={{field.data.path}} alt="" class="zoom">
        </div>
        <div class="col-md-4 col-lg">


          <p>{{field.data.description}}</p>
          <p>{{field.data.contact}}</p>
          <p>{{field.data.distict}}</p>

        </div>

      </div>

    </div>
  </ul>


</div>

