<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
          <img src="../../assets/Logo1.png" height="50px" alt="">
          mtute.lk
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li> -->
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link"  [routerLink]="'/zoom'"><fa-icon [icon]='faVideo'></fa-icon> Zoom</a>
        </li>
        <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link"  [routerLink]="'/papers'" ><fa-icon [icon]='faCopy'></fa-icon> Papers</a>
        </li>
        <li class="nav-item "data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link"  [routerLink]="'/notes'" ><fa-icon [icon]='faDownload'></fa-icon> Notes</a>
        </li>
        <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link"  [routerLink]="'/profile/instructor/search'" ><fa-icon [icon]='faChalkboardTeacher'></fa-icon> Instructors</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" [routerLink]="'/profile/institute/search'">  <fa-icon [icon]='faSchool'></fa-icon> Institutes</a>
        </li>
        <li class="nav-item" *ngIf='!userLogged' data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" [routerLink]="'/account/login'"><fa-icon [icon]='faUser'></fa-icon> Account</a>
        </li>
        
        <li class="nav-item dropdown" *ngIf='!userLogged' data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <fa-icon [icon]='faUser'></fa-icon> Mtute Guest
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="dropdown-item"  [routerLink]="'/support'"><fa-icon [icon]='faQuestionCircle'></fa-icon> Help & Support</a>
            <a class="dropdown-item"  [routerLink]="'/support/about'"><fa-icon [icon]='faInfoCircle'></fa-icon> About</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf='userLogged' data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <fa-icon [icon]='faUser'></fa-icon> {{userName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf='!isStudent' data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="dropdown-item" (click)='clickViewProfile()'><fa-icon [icon]='faIdBadge'></fa-icon> Profile</a>
            <a class="dropdown-item" (click)='clickPostAd()'><fa-icon [icon]='faAd'></fa-icon> Post Ad</a>
            <!-- <a class="dropdown-item" (click)='clickProfile()'><fa-icon [icon]='faIdCard'></fa-icon> Change Details</a> -->
            <a class="dropdown-item" (click)='clickClasses()'><fa-icon [icon]='faUserFriends'></fa-icon> Classes</a>
            <div class="dropdown-divider" *ngIf='isInstructor'></div>
            <a class="dropdown-item" (click)='clickPapers()' *ngIf='isInstructor'><fa-icon [icon]='faBookReader'></fa-icon> Papers</a>
            <a class="dropdown-item" (click)='clickNotes()' *ngIf='isInstructor'><fa-icon [icon]='faStickyNote'></fa-icon> Notes</a>
            <a class="dropdown-item" (click)='clickMessagesinst()' *ngIf='isInstructor'><fa-icon [icon]='faEnvelope'></fa-icon> Messages</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)='clickStudyPack()'><fa-icon [icon]='faGraduationCap'></fa-icon>StudyPack</a>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  [routerLink]="'/support'"><fa-icon [icon]='faQuestionCircle'></fa-icon> Help & Support</a>
            <a class="dropdown-item"  [routerLink]="'/support/about'"><fa-icon [icon]='faInfoCircle'></fa-icon> About</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)='logoutUser()'><fa-icon [icon]='faSignOutAlt'></fa-icon> LOGOUT</a>
          </div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf='isStudent' data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="dropdown-item" (click)='clickPapers()'><fa-icon [icon]='faBookReader'></fa-icon> Papers</a>
            <a class="dropdown-item" (click)='clickMessages()'><fa-icon [icon]='faEnvelope'></fa-icon> Messages</a>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)='clickStudyPack()'><fa-icon [icon]='faGraduationCap'></fa-icon>StudyPack</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  [routerLink]="'/support'"><fa-icon [icon]='faQuestionCircle'></fa-icon> Help & Support</a>
            <a class="dropdown-item"  [routerLink]="'/support/about'"><fa-icon [icon]='faInfoCircle'></fa-icon> About</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)='logoutUser()'><fa-icon [icon]='faSignOutAlt'></fa-icon> LOGOUT</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
window.onscroll = function() {scrollFunction(); };
function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      document.getElementById('navbar').style.padding = '30px 10px';
      document.getElementById('navbar-brand').style.fontSize = '250px';
    } else {
      document.getElementById('navbar').style.padding = '80px 10px';
      document.getElementById('navbar-brand').style.fontSize = '35px';
    }
  };

</script>
