<!-- Body -->
<div class="container-fluid">
  <div *ngIf="sharedService.getLoggedInUser().data.role=='instructor'" style="width: 100%;height: 100%;" [style.padding-top.px]="60" [style.height.px]="divHeight">
    <div class="container">
      <mat-accordion multi="true">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <mat-expansion-panel class="mb-2 mr-1" [expanded]="isShowViewPaper"(opened)="isShowViewPaper=true" (closed)="isShowViewPaper=false">
              <mat-expansion-panel-header>
              <mat-panel-title>
                View Paper Panel
              </mat-panel-title>
              </mat-expansion-panel-header>
              <app-view-paper></app-view-paper>    
          </mat-expansion-panel> 
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <mat-expansion-panel class="mb-2 mr-1" [expanded]="isShowEditPaper" (opened)="isShowEditPaper=true" (closed)="isShowEditPaper=false">
              <mat-expansion-panel-header>
              <mat-panel-title>
                Edit Paper Panel
              </mat-panel-title>
              </mat-expansion-panel-header>
              <app-edit-paper></app-edit-paper>
            </mat-expansion-panel> 
          </div>
        </div>
      </mat-accordion>
    </div>

  </div>

  <div *ngIf="sharedService.getLoggedInUser().data.role=='student'" style="width: 100%;height: 100%;" [style.padding-top.px]="60" [style.height.px]="divHeight">
    <app-student-paper></app-student-paper>
  </div>
</div>