<!-- Body -->
<div class="container-fluid">
  <div *ngIf="sharedService.getLoggedInUser().data.role=='instructor'" style="width: 100%;height: 100%;" [style.padding-top.px]="60" [style.height.px]="divHeight">
    <as-split direction="horizontal" [gutterSize]="2">
      <as-split-area [order]="0" [size]="20">
        <app-view-paper></app-view-paper>
      </as-split-area>
      <as-split-area [order]="1" [size]="80" (onchange)="sharedService.changeCreatePaperWidthRequest()">
        <app-edit-paper></app-edit-paper>
      </as-split-area>
    </as-split>
  </div>
  <div *ngIf="sharedService.getLoggedInUser().data.role=='student'" style="width: 100%;height: 100%;" [style.padding-top.px]="60" [style.height.px]="divHeight">
    <app-student-paper></app-student-paper>
  </div>
</div>