.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 200;
    height: 150px;
    border: 2px dashed #000000;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
    overflow: hidden;
  }
  .hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
  }
  
  .file-label {
    font-size: 1.2em;
  }
  
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }
  
  .full-width{
    width: 100%;
  }
  
  .img-thumbnail{
    // height: 100px;
    max-height: 100px;
    max-width: 300px;
    overflow: hidden;
  }
  
  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .form{
    overflow: hidden;
    margin: 20px;
  }
  
  .text-center{
    width: 100%;
    margin: 20px;
  }
  .formInputs{
    max-width: 500px;
    width: 100%;
    margin: auto;
    overflow: hidden
  }

  small{
    color: red;
  }
  