///////notes///////
  .postfield{
    // background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
    // https://www.scottlib.org/ImageRepository/Document?documentID=3348
    // background: url('http://www.lucerne.k12.ca.us/images/books%20background.jpg') no-repeat center center fixed ;
  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .postContainer{
    // height: 90%;
    // display: flex;
    // width: 700px;
    margin-top: 20px;
    border-radius: 1rem;
    // padding-top: 20px;
    // justify-content: center;
    // align-items: center;
    padding: 15px;
    // background-color: #80d474;
  //   background: #00B4DB;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    background: #1f4037;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #99f2c8, #2a4c43);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    background-image: url('../../../assets/notes/blackboard.jpg');
  
    box-shadow: 1px 12px 54px rgba(22, 21, 21, 0.2);
  
    margin:0 auto;
  }


  .postContainer:hover{
    // box-shadow: 1px 12px 54px rgba(22, 21, 21, 0.2);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    // background-image: url('../../../assets/propic/propic.png');
  
    position:relative;
    z-index: 3;
  }
  
  .header-image {
  
    // background-image: url('../../../assets/propic/propic.png');
    background-size: cover;
    border-radius: 70%;
    object-position: left;
    width: 60px;
    height: 60px;
  }
  
  
  .proPicImage{
    // margin: 10px;
    // padding: 10px;
    margin-bottom: 30px;
    height: 60px;
    width: 60px;
  }
  //  .image{
  //   margin-top: 20px;
  //   margin-bottom: 10px;
  //   max-width: 30px ;
  //   height: auto;
  //   max-height: 200px;
  //   transition: transform .2s;
  //   // height: auto;
  // }
  .title{
    // margin-top: 15px;
    // margin-left: 20px;
    align-items: center;
    font-size: large;
    color: #0fee29;
  }
  
  .zoom {
    max-width: 300px;
    // width: 100%;
    // height: auto;
    max-height: 250px;
    width: 100%;
    transition: transform .5s;
    cursor: pointer;
  
  }
  .zoom:active {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2);
    z-index: 99 !important;
    position: relative;
  }
 
  .verify-image{
    width: 50px;
    right: 0;
    top: 0;
    display: block;
    width: 50px;
    text-indent: -999em;
    text-decoration: none;
  }
  //////////////////////////
  .click{
    cursor:pointer;
    color: #0fee29;
  
  
  }
  .click:hover{
    text-decoration: underline;
    color:#0095ff;
  }

  

////searchbar/////

.full-width {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  width: 50%;
}

.radios{
  align-self: center;
  // margin-left: 10px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  // margin-top: 10px;
  // padding: initial;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  background-color: #ada5d9
}

.content{  
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
}

.searchBtnContainer{
  align-content: center;
  display: flex;
  flex-direction: column;
}

.container-fluid{  
  background-image: linear-gradient( 136deg, rgb(255,255,255) 0%, rgb(142,197,252) 100%);
  height: 100vh;
}