
<div class ="container-fluid parallax">
<!-- <div class="parallax"> -->
<div class="row" *ngIf="!editUserProfile">

  <div class="text-center">
    <h4 *ngIf='loginView'>Login</h4>
    <h4 *ngIf='!loginView'>Register</h4>
  </div>

  <div class=" mainClass col-md-6 col-lg-6" >

    <div class="card" *ngIf='!circleView'>
      <!-- When Uses is Not Logged In -->
      <div class="card-body" *ngIf="!userDetails">

        <!-- login -->
        <div  *ngIf="!isForgotPassword">
          <span *ngIf="selectedVal == 'login'">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" [(ngModel)]='emailInput' id="email" placeholder="Email">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" [(ngModel)]="passwordInput" id="password" placeholder="Password" (keydown.enter)='loginUser()'>
            </div>

            <div class="form-group">
              <button type="button" class="btn btn-primary"  (click)="loginUser()">Log In</button>
              <div class= "createAccount" (click)="this.circleView = true; loginView =false;">Create an Account</div>
            </div>

            <a href="javascript:void(0)" (click)="this.isForgotPassword= true;">Forgot Password?</a>


          </span>

          <!-- register -->
          <span *ngIf="selectedVal == 'register'">

            <div *ngIf="registerItem == 'person'">
              <h3>Person Registration</h3>

              <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="firstname" class="form-control" [(ngModel)]="firstNameInput" id="firstname" placeholder="First Name">
              </div>

              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="lastname" class="form-control" [(ngModel)]="lastNameInput" id="lastname" placeholder="Last Name">
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" [(ngModel)]="emailInput" id="email" placeholder="Email">
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" [(ngModel)]="passwordInput" id="password" placeholder="Password">
              </div>

              <div class="form-group">
                <label for="contact">Contact</label>
                <input type="contact" class="form-control" [(ngModel)]="contactInput" id="contact" placeholder="Contact" (keydown.enter)='registerUser()'>
              </div>

              <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="registerUser()">Register</button>
              </div>
            </div>

            <div *ngIf="registerItem == 'institute'">
              <h3>Institute Registration</h3>

              <div class="form-group">
                <label for="name">Name</label>
                <input type="name" class="form-control" [(ngModel)]="nameInput" id="name" placeholder="Name">
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" [(ngModel)]="emailInput" id="email" placeholder="Email">
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" [(ngModel)]="passwordInput" id="password" placeholder="Password">
              </div>

              <div class="form-group">
                <label for="contact">Contact</label>
                <input type="contact" class="form-control" [(ngModel)]="contactInput" id="contact" placeholder="Contact" (keydown.enter)='registerUser()'>
              </div>

              <div class="form-group">
                <button type="button" class="btn btn-primary"  (click)="registerUser()">Register</button>
              </div>
            </div>

            <div *ngIf="registerItem == 'student'">
              <h3>Student Registration</h3>

              <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="firstname" class="form-control" [(ngModel)]="firstNameInput" id="firstname" placeholder="First Name">
              </div>

              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="lastname" class="form-control" [(ngModel)]="lastNameInput" id="lastname" placeholder="Last Name">
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" [(ngModel)]="emailInput" id="email" placeholder="Email">
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" [(ngModel)]="passwordInput" id="password" placeholder="Password">
              </div>

              <div class="form-group">
                <label for="contact">Contact</label>
                <input type="contact" class="form-control" [(ngModel)]="contactInput" id="contact" placeholder="Contact" (keydown.enter)='registerUser()'>
              </div>

              <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="registerUser()">Register</button>
              </div>
            </div> 

            <div class= "createAccount" (click)="this.circleView = false; selectedVal='login'; loginView=true;"> Have an Account</div>

          </span>
        </div>

         <!-- Forgot password -->
         <div class="form-group" *ngIf="isForgotPassword">

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" [(ngModel)]="emailInput" id="email" placeholder="Email">
          </div>

          <button type="button" class="btn" (click)="this.isForgotPassword= false;">Cancel</button>
          <button type="button" class="btn btn-primary"(click)="forgotPassword()">Get email to reset passowrd</button>
        </div>


      </div>
      <!-- When Uses is Logged In using Email or Google Account -->
      <div class="card-body" *ngIf="userDetails">
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item">Display Name:
                {{userDetails['displayName']}}</li>
              <li class="list-group-item">Email: {{userDetails['email']}}</li>
              <li class="list-group-item">Is Email Varified:
                {{userDetails['emailVerified']}}
              </li>
              <li class="list-group-item">
                <button type="button" class="btn btn-danger"
                  (click)="logoutUser()">Logout</button>
              </li>
              <li class="list-group-item">
                <button type="button" class="btn btn-primary"
                 [routerLink]="'/postadd'" >Post An Add</button>
              </li>
              <div *ngIf="registerItem == 'institute'">
                <li class="list-group-item">
                  <button type="button" class="btn btn-primary"  (click)="editProfileInstitute()" >Create Profile Details</button>
                </li>
                <li class="list-group-item">
                  <button type="button" class="btn btn-primary"  (click)="editClassesInstitute()" >Add Classes Details</button>
                </li>
              </div>
              <div *ngIf="registerItem == 'person'">
                <li class="list-group-item">
                  <button type="button" class="btn btn-primary"  (click)="editProfilePerson()" >Create Profile Details</button>
                </li>
                <li class="list-group-item">
                  <button type="button" class="btn btn-primary"  (click)="editClassesPerson()" >Add Classes Details</button>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-{{responseMessageType}}" role="alert"
      *ngIf="responseMessage.length">
      {{responseMessage}}
    </div>
  </div>
</div>

<div class=" mainClass text-center circle" *ngIf='circleView'>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">

      <!-- normal -->
      <div class="ih-item circle effect6 scale_up" (click)='registerPerson()'><a>
          <div class="img"><img src="assets/Classes/ArteGaleriade.jpg" alt="img"></div>
          <div class="info">
            <h3>TEACHER</h3>
            <p>MARKET YOUSELF</p>
          </div></a></div>
      <!-- end normal -->

    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">

      <!-- colored -->
      <div class="ih-item circle colored effect6 scale_up" (click)='registerInstitute()'><a>
          <div class="img"><img src="assets/Classes/pattern2.jpg" alt="img"></div>
          <div class="info">
            <h3>INSTITUTE</h3>
            <p>MAKE PROFIT</p>
          </div></a></div>
      <!-- end colored-->

    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">

      <!-- normal -->
      <div class="ih-item circle effect6 scale_up" (click)='registerStudent()'><a>
          <div class="img"><img src="assets/Classes/ArteGaleriade.jpg" alt="img"></div>
          <div class="info">
            <h3>STUDENT</h3>
            <p>LEARN YOUSELF</p>
          </div></a></div>
      <!-- end normal -->

    </div>
  </div>
  <div class="row mt-3" style="justify-content: center;">
    <div class="from-group">
      <button class="btn btn-dark backToLogin" (click)="this.circleView = false; selectedVal='login'; loginView=true;">Have An Account</button>
    </div>
  </div>

</div>

<!-- </div> -->
</div>


<!-- Scale up-->





<!-- end Scale up-->
