<h4 class="text-center">Paper List</h4>
<button mat-raised-button color="primary" class="btn btn-secondary mb-1" style="width: 100%;" (click)="createPaper()">Create Paper<fa-icon class="ml-2" [icon]="faPlus"></fa-icon></button>
<mat-table [dataSource]="papers" class="elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element" (click)="loadPaper(element)"> {{element.data.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef> Subject </th>
    <td mat-cell *matCellDef="let element" (click)="loadPaper(element)">{{element.subject}} </td>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element" (click)="loadPaper(element)">{{element.data.year}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>