<h3 class="text-center">Paper List</h3>
<button class="btn btn-secondary mb-1" style="width: 100%;" (click)="createPaper()">Create Paper<fa-icon class="ml-2" [icon]="faPlus"></fa-icon></button>
<mat-table [dataSource]="papers" class="elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element" class="btn" (click)="loadPaper(element)"> {{element.data.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef> Subject </th>
    <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.data.year}} </td>
  </ng-container>

  <!-- Load Column -->
  <ng-container matColumnDef="load">
    <th mat-header-cell *matHeaderCellDef> View </th>
    <td mat-cell *matCellDef="let element"><button class="btn btn-sm" (click)="loadPaper(element)"><i class="fas fa-hand-point-right"></i></button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>


<!-- <ng-template #createPaperModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Paper</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form [formGroup]="form">
  <div class="modal-body">
      
      <div class="form-group">
        <label>
            Paper Name<sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup>
        </label>
        <input class="form-control" type="text" id="name" name="name" [(ngModel)]="paper.name" formControlName="name"/>
        <div *ngIf="isSubmitted && formControls.name.invalid" class="alert alert-danger">
          <div *ngIf="formControls.name.errors.required">
            Paper name is required.
          </div>
        </div>
      </div>  



      <div class="form-group">
          <label>
              Year
          </label>
          <input type="date" class="form-control" name="year" [(ngModel)]="created_date" formControlName="year" (change)="pickYear()" required/>
          <div *ngIf="isSubmitted && formControls.year.invalid" class="alert alert-danger">
            <div *ngIf="formControls.year.errors.required">
              Year is required.
            </div>
          </div>
          <label class="ml-2">
            {{paper.year}}
        </label>
      </div>
      
      <div class="form-group row">
        <div class="form-group col-md-6">
            <label>Subject<ion-text color="danger"> <sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup></ion-text>   :</label>
            <select matNativeControl placeholder="Select" class="form-control" name="subject" [(ngModel)]="paper.subject" formControlName="subject">
                <option class="pb-1" *ngFor="let subject of subjectGroup" [value]="subject.id">{{subject.data.name}}</option>
            </select>
            <div *ngIf="isSubmitted && formControls.subject.invalid" class="alert alert-danger">
              <div *ngIf="formControls.subject.errors.required">
                Subject is required.
              </div>
            </div>
        </div>
        
        <div class="form-group col-md-6">
              <label>Grade/ Level<ion-text color="danger"><sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup></ion-text>   :</label>
              <select matNativeControl placeholder="Select" class="form-control" name="grade_level" [(ngModel)]="paper.grade_level" formControlName="grade_level">
                  <option class="pb-1" value="g6">Grade 6</option>
                  <option class="pb-1" value="g7">Grade 7</option>
                  <option class="pb-1" value="g8">Grade 8</option>
                  <option class="pb-1" value="g9">Grade 9</option>
                  <option class="pb-1" value="ol">Ordinary Level</option>
                  <option class="pb-1" value="al">Advanced Level</option>
                  <option class="pb-1" value="other">Other</option>
              </select>
              <div *ngIf="isSubmitted && formControls.grade_level.invalid" class="alert alert-danger">
                <div *ngIf="formControls.grade_level.errors.required">
                  Grade/ Level is required.
                </div>
              </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group col-md-6">
          <label>
              No. of Questions<ion-text color="danger"> <sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup></ion-text>
          </label>
          <input class="form-control" type="number" name="no_of_questions" [(ngModel)]="paper.no_of_questions" formControlName="no_of_questions"/>
          <div *ngIf="isSubmitted && formControls.no_of_questions.invalid" class="alert alert-danger">
            <div *ngIf="formControls.no_of_questions.errors.required">
              No. of questions is required.
            </div>
          </div>
        </div>  

        <div class="form-group col-md-6">
            <label>
                Allocated time in mins<ion-text color="danger"> <sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup></ion-text>
            </label>
            <input class="form-control" type="number" name="time" [(ngModel)]="paper.time" formControlName="time"/>
            <div *ngIf="isSubmitted && formControls.time.invalid" class="alert alert-danger">
              <div *ngIf="formControls.time.errors.required">
                Allocated time is required.
              </div>
            </div>
        </div>
      </div>

      <div class="form-group">
        <label>Charging?<ion-text color="danger"> <sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup></ion-text>   :</label>
        <select matNativeControl placeholder="Select" class="form-control" name="charging" #charging_="ngModel" [(ngModel)]="charging" required>
            <option class="pb-1" [value]=true>Yes</option>
            <option class="pb-1" [value]=false>No</option>
        </select>
      </div>    

      <div class="form-group" *ngIf="charging">
        <label>
            Amount<ion-text color="danger"> <sup class="ml-1"><fa-icon [icon]="faAsterisk" class="fa-xs"></fa-icon></sup></ion-text>
        </label>
        <input class="form-control" type="number" name="price" #price="ngModel" [(ngModel)]="paper.price" required/><ion-text>LKR</ion-text>
      </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" type="submit" (click)="disableSaveBtn=!disableSaveBtn;isSubmitted='true';savePaper(modal);" [disabled]="disableSavebtn">Save</button>  
  </div>
</form>
</ng-template> -->