.viewRoot{
  max-height: 100vh;
}

mat-table {
  overflow-y: scroll;
  text-overflow: ellipsis;
  max-height: 100vh; 
}

mat-table::-webkit-scrollbar-thumb {
  background: #5537a8;
  border-radius: 0.5rem;
}

mat-table::-webkit-scrollbar {
    width: 0.5rem;
  }

.mat-cell {
    padding: 10px;
  }

td{
  cursor: pointer;
}