<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <p> Do you want to place the appointment with {{this.data.email}}?</p>
    <div class='full-width'>
        <mat-label><b>topic</b></mat-label>
        <P>{{this.data.topic}}
    </div>
    <div class='full-width'>
        <mat-label><b>Description</b></mat-label>
        <p>{{this.data.description}}</p>
    </div>    
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</div>